<%-- 
    Document   : template
    Created on : 16 Mar, 2018, 6:32:56 PM
    Author     : Student
--%>

<%@page contentType="text/html" pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>JSP Page</title>
    </head>
    <body>
        <table border="0" bgcolor="blue" align="top" width="100%" style= "height:100px">
            <tr><td align="center"><font style="font-family:sans-serif; font-size: 50px ;color: white">Exotica Travels</font></td></tr>
        </table>
        <table bgcolor="white" border="0" align="top" width="100%" style="height: 470px">
            <tr>
                <td style="width: 216px;" colspan="1" rowspan="4">
                    <img style="width: 190px; height: 500px" src="images/side.jpg"> </td> 
        </table>
    </body>
</html>
